/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.5;
  transition: background-color 0.3s, color 0.3s;
}

/* Light Mode Variables */
:root {
  --background-color: #f8f9fa;
  --text-color: #1f1f1f;
  --dropdown-color: #ffffff;
  --primary-color: #005ea2;
  --secondary-color: #ffffff;
  --hover-color: #005ea2;
  --border-color: #ccc;
}

/* Dark Mode Variables */
body.dark-mode {
  --background-color: #121212;
  --text-color: #f8f9fa;
  --dropdown-color: #ffffff;
  --primary-color: #bb86fc;
  --secondary-color: #1f1f1f;
  --hover-color: #bb86fc;
  --border-color: #444;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header Styles */
.header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.header nav a {
  color: var(--secondary-color);
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.header nav a:focus,
.header nav a:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

.header .flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .flex button,
.header nav a {
  transition: background-color 0.3s, color 0.3s;
}

.header button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.header button:hover,
.header button:focus {
  background-color: var(--primary-color);
  outline: 3px solid var(--secondary-color);
  color: var(--background-color)
}

.header img {
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

/* Search Section */
.search-section {
  background-color: var(--secondary-color);
  padding: 2rem 0;
  text-align: center;
}

.search-section h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.search-section p {
  font-style: italic;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.search-section .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-section input[type="text"] {
  width: 50%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.search-section input[type="text"]:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 94, 162, 0.5);
}

.search-section button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.search-section button:hover,
.search-section button:focus {
  background-color: var(--hover-color);
  outline: 1px solid var(--secondary-color);
}

/* Dropdown Styles */
.search-section .dropdown-toggle {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.search-section .dropdown-toggle:hover,
.search-section .dropdown-toggle:focus {
  background-color: var(--hover-color);
  color: var(--dropdown-color);
  outline: 3px solid var(--primary-color);
}

.search-section .dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
}

.search-section .dropdown-menu.show {
  display: flex;
}

.search-section .dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.search-section .dropdown-item:hover,
.search-section .dropdown-item:focus {
  background-color: var(--hover-color);
  color: var(--dropdown-color);
  outline: 3px solid var(--primary-color);
}

/* Main Content Section */
.main-content {
  --text-color: var(--text-color);
  padding: 2rem 0;
}

.main-content .game-card {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 1rem;
  transition: box-shadow 0.3s;
}

.main-content .game-card:hover,
.main-content .game-card:focus-within {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.main-content p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.main-content img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

/* Pagination Styles */
.pagination button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover,
.pagination button:focus {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  outline: 3px solid var(--secondary-color);
}

.pagination .active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.dropdown-menu {
  display: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: left;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f8f9fa;
  color: #005ea2;
}

.button-container {
  display: flex;
  gap: 0.5rem; /* Adjust the gap value as needed */
}

.button-container button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-container button:hover,
.button-container button:focus {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container {
    flex-direction: column;
    gap: 0.5rem;
  }
}
